.button-wrap {
    display: flex;
    flex-basis: 33.33%;
    flex-wrap: wrap;
    justify-content: center;
}

.button-label {
    flex-basis: 100%;
    font-weight: normal;
    margin-bottom: 16px;
    text-align: center;
}

button { 
    background-color: grey;
    border-radius: 6px;
    background-color: #9DA2A0;
    background-size: 42%;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 260px; 
    height: 170px;
}

button:active {
    background-color: #3088BB;
}

.thumbs-up {
    background-image: url("../assets/thumbs_up.png");
}

.thumbs-down {
    background-image: url("../assets/thumbs_down.png");
}